<div id="comment-list" class="comments">
  {{#each this}}
  <section class="comment">
    <div class="text ml-4">
      {{user.username}} On {{format_date created_at}}
    </div>
    <div id="comment-text" class="meta ml-3 mr-5 mb-3">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>
