/* universal styling */
* {
    box-sizing: border-box;
  }

body, html {
    background-color: black;
    font-family: Tahoma, sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
}


/* header and navigation styling */
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: gray;
    text-decoration: none;
}

nav {
    font-size: 20px;
}

header {
    border-bottom: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.main-header {
    font-weight: bold;
}


/* login and sign-up page styling */ 
.logo-image {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.login-signup-forms {
    margin-top: 100px;
}

.signup-form {
    background-color: #141414;
    border: 1px solid white;
    border-radius: 25px;
}

.login-form {
    background-color: #141414;
    border: 1px solid white;
    border-radius: 25px;
}

.signup-text {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.login-text {
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}



.user-posts {
    list-style: none;
}

.single-posts {
    line-height: 0.8;
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-top: 10px;
    margin-right: 25px;
    padding: 10px;
}

.meta {
    background-color: #363636;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 8px;
}